<section class="principal">
  <mat-card class="cardAdd">
    <mat-card-header>
      <h1>Ingresa tu Ahorro</h1>
    </mat-card-header>
    <form [formGroup]="formularioAhorro" (ngSubmit)="addAhorro()">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Ingesa el Ahorro</mat-label>
        <input matInput type="number" formControlName="ahorro" class="example-right-align" placeholder="0" required>
        <span matTextPrefix>$&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
      <br>
      <mat-card-footer>
        <button mat-raised-button color="primary" type="submit">Guardar</button>
        <button mat-raised-button color="warn" routerLink="">Cancelar</button>
      </mat-card-footer>
    </form>
  </mat-card>
</section>