section{
    background-color: black;
    display: block;
  align-items: center;
  justify-content: center;
    place-items: center;    
    height: 100%;  
    width: 100%;  
}
h1{
    color: whitesmoke;
}