<hr>
<section class="principal">
  <h1>Información</h1>
  <app-balance></app-balance>
</section>
<section class="principal">
  <div class="example-label">Opciones</div>
  <div class="example-button-row">
    <button mat-stroked-button color="primary" routerLink="addAhorro">Añadir Ahorro</button>
    <button mat-stroked-button color="primary" routerLink="addPrestamo">Añadir Prestamo</button>    
    <button mat-stroked-button color="warn" routerLink="addGasto" disabled="">Añadir Gasto</button>
  </div>
</section>
<br>
<footer>V1.0.0 - Create by J.Ivan Perez</footer>