<section class="principal">
  <h1>Información</h1>
  <app-balance></app-balance>
  <div class="example-label">Opciones</div>
  <div class="example-button-row">
    <button mat-fab extended color="primary" routerLink="addAhorro">Añadir Ahorro</button>
    <button mat-fab extended color="primary" routerLink="addPrestamo">Añadir Prestamo</button>    
    <button mat-fab extended color="warn" routerLink="addGasto" disabled>Añadir Gasto</button>
  </div>
  <footer>V1.0.0 - Create by J.Ivan Perez</footer>
</section>


