
<hr>
<div >
  <h1 class="titulo">Prestamos</h1>
  <div class="row">  
    <mat-form-field class="example-full-width">
      <mat-label>Buscador</mat-label>
      <input (keyup)="applyFilter($any($event.target).value)" matInput placeholder="Search">
    </mat-form-field>  
      <div class="example-container mat-elevation-z8">      
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> cantidad </th>
            <td mat-cell *matCellDef="let element"> $ {{element.cantidad}} </td>
          </ng-container>
          <ng-container matColumnDef="fechaPrestamo">
            <th mat-header-cell *matHeaderCellDef> fechaPrestamo </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaPrestamo}} </td>
          </ng-container>
          <ng-container matColumnDef="estatus">
            <th mat-header-cell *matHeaderCellDef> estatus </th>
            <td mat-cell *matCellDef="let element">  
              <button mat-raised-button color="warn" [disabled]="element.buttonEstado" (click)="prestamoPagado(element)">{{element.estatus}}</button>
            </td>            
          </ng-container>
          <ng-container matColumnDef="fechaPago">
            <th mat-header-cell *matHeaderCellDef> fechaPago </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaPago}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>            
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Select page of periodic elements"></mat-paginator>        
  </div>
</div>